.clearfix {*zoom:1;}
.clearfix:before, .clearfix:after {display:block; content: ''; line-height: 0;}
.clearfix:after {clear: both;}
.col{
    padding: 0px;
}
.roomList{
    width: 20%;
    border: 1px solid #ddd;
    border-radius: 5px;
    height: 600px;
    overflow: scroll;
    float: left;
    position: relative;
    .searchBar{
        z-index: 1;
        width: 100%;
        padding-top: 10px;
        padding-left: 10px;
        .searchWrap{
            margin: 0 auto;
            width: 80%;
            float: left;
            .search{
                border: 1px solid #ddd;
                width: 100%;
                height: 30px;
                border-radius:20px;
                padding-left: 10px;
                padding-right: 10px;
                font-size: 14px;
            }
        }
        .addRoom{
            float: left;
            background: #1976d2;;
            width: 30px;
            height: 30px;
            margin-left: 10px;
            cursor: pointer;
            img{
                width: 30px;
            }
        }
    }
    ul{
        list-style: none;
        padding-left: 0 !important;
        li{
            padding:10px;
            position: relative;
            cursor: pointer;
            h1{
                font-size: 18px;
                color: #1976d2;
            }
            p{
                color: #ccc;
                font-size: 12px;
                margin-bottom: 0px;
            }
            .time{
                font-size: 10px;
                color: #ccc;
                position: absolute;
                right: 10px;
                top: 10px;
            }
            .bar{
                width: 100%;
                height: 2px;
                position: absolute;
                bottom: 0px;
                background:#1976d2;
                left:0px;
                // border-radius: 0px 0px 5px 5px;
            }
        }
        
    }
}
.chat{
    width: 80%;
    float: left;
    .emptyChat{
        p{
            font-size: 14px;
            color: #ccc;
            text-align: center;
            line-height: 600px;
        }
    }
}
.wrap{
    height: 600px;
    .titleBar{
        width: 100%;
        border: 1px solid #ddd;
        padding: 10px;
        min-height: 46px;
        h1{
            font-size: 18px;
            color:#1976d2;
            float: left;
        }
        img{
            float: left;
            display: none;
        }
    }
    .chatList{
        background:rgba(202, 229, 255, .3);
        min-height: 500px;
        height: 500px;
        overflow: scroll;
        .chatItem{
            padding: 10px;
            p{
                font-size: 12px;
                color: rgb(175, 175, 175);
                margin-bottom: 0px;
            }
            .content{
                background: #fff;
                display: inline-block;
                padding: 12px;
                border-radius: 0px 10px 10px 10px;
                border: .5px solid #1976d2;
                box-shadow: 1px 1px 5px 1px #ccc;
            }   
        }
        .otherChat{
            .chatWrap{
                float: left;
            }
        }
        .meChat{
            p{
                text-align: right;
            }
            .chatWrap{
                float: right;
                .content{
                    border-radius: 10px 0px 10px 10px;
                    background: #1976d2;
                    color: #fff;
                }
            }
        }
    }
    .chatSend{
        textarea{
            width: 95%;
            resize: none;
            border: .5px solid #1976d2;
            height: 100%;
            float: left;
        }
        .sendBtn{
            width: 5%;
            background: #1976d2;
            float: left;
            text-align: center;
            line-height: 50px;
            i{
                color: white;
            }
        }
    }
}
@media screen and (max-width: 425px) {
    .wrap{
        position: relative;
        .titleBar{
            img{
                display: block;
                margin-right: 10px;
                cursor: pointer;
            }
        }
    }
    .roomList{
        display: none;
        width: 250px;
        position: absolute;
        background: white;
        animation-direction: 1s;
        animation-name: slide;
    }
    
    .roomDp{
        display: block;
    }
    .chat{
        width: 100%;
        float: left;
    }
}